@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ANEO BANKING</h1>
    <p class="lead">Welcome to ANEO Banking System for PSGBD Project</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We are pleased you came by</h2>
        <p>
            Aneo Banking is the best banking system in the world.
        </p>
        
    </div>
    
</div>